<!DOCTYPE html>
<html ng-app="jeeputer">
<head>
    <meta http-equiv="Content-Security-Policy" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <!-- <link rel="stylesheet" type="text/css" href="css/index.css"> -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" type="text/css" href="css/main.css">
  
    
    <script src="cordova.js"></script>
    <script src="js/node_modules/angular/angular.min.js"></script>

    <script src="js/fastclick.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    
    

    <script src="js/app.js"></script> 
    <script src="js/device_model.js"></script>
    <script src="js/bluetooth_service.js"></script>


  <meta charset="utf-8">
  <title>Scarlett</title>
  

</head>

<!-- Quick inline CSS -->
<style>


</style>


<body ng-controller="app">
<script src="js/fastclick.js"></script>
<!-- Begin Content -->

<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <!--<div class="col-xs-12"><button class="btn btn-relay" ng-click="FindDevices()">Scan</button></div>

                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay0" name="relay0" ng-class="{'active':!status[0]}" ng-click="setStatus(0)"><label for="relay0">Relay 1</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay1" name="relay1" ng-class="{'active':!status[1]}" ng-click="setStatus(1)"><label for="relay1">Relay 2</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay2" name="relay2" ng-class="{'active':!status[2]}" ng-click="setStatus(2)"><label for="relay2">Relay 3</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay3" name="relay3" ng-class="{'active':!status[3]}" ng-click="setStatus(3)"><label for="relay3">Relay 4</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay4" name="relay4" ng-class="{'active':!status[4]}" ng-click="setStatus(4)"><label for="relay4">Relay 5</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay5" name="relay5" ng-class="{'active':!status[5]}" ng-click="setStatus(5)"><label for="relay5">Relay 6</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay6" name="relay6" ng-class="{'active':!status[6]}" ng-click="setStatus(6)"><label for="relay6">Relay 7</label></input></div>
                <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay7" name="relay7" ng-class="{'active':!status[7]}" ng-click="setStatus(7)"><label for="relay7">Relay 8</label></input></div>

                <div class="col-xs-12"><button class="btn btn-relay" ng-class="" ng-click="remote_animate()">Animate</button></div>-->
    

            </div>
            <div class="row" style="margin-top:25px">
                <ul>
                    <li ng-repeat="device in BlueToothDevices track by $index">
                        <a href="" ng-click="Connect(device.ID)">{{device.Name}}</a>
                    </li>
                </ul> 
            </div>
        
    </div>
</div>
<!-- End Content -->
    
<script src="//localhost:4020/livereload.js"></script>
</body>
</html>
