<style>
    @-webkit-keyframes scanningAnimation /* Safari and Chrome */
    {
        0%   {box-shadow: none; border-color: #005;}
        50%  {box-shadow: 0 0 1em rgba(0,255,255,0.5); border-color: #0FF}
        100% {box-shadow: none; border-color:#005;}
    }

    .scanning 
    {
        animation:scanningAnimation 1.5s;
        -webkit-animation:scanningAnimation 1.5s infinite; /* Safari and Chrome */
    }

</style>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <h2>Jeepduino</h2>
    </div>
</nav>
<div class="jumbotron">
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h3 class="text-center">Relay Prototype </h3>
            <div class="row">

                <div class="col-xs-12">
                    <button 
                        ng-if="!scanning && BlueToothDevices.length<=0"
                        class="btn btn-relay" 
                        ng-click="FindDevices()">
                            Scan
                    </button>
                    <button 
                        ng-if="!scanning && BlueToothDevices.length>0 && ConnectedDevice_id == ''"
                        class="btn btn-relay container-fluid" 
                        ng-click="Connect(BlueToothDevices[0].ID)">
                        <div class="row" style="line-height:.75em; font-size:.75em; margin-top:10px">
                            <div class="col-xs-12">Connect To:</div>
                        </div>
                        <div class="row" style="line-height:4em">
                            <div class="col-xs-12">{{BlueToothDevices[0].Name}}</div>
                        </div>
                    </button>
                    <span ng-if="scanning" class="btn btn-relay scanning" style="
                        color:rgba(0, 255, 255, 0.5);
                        border-color: #0FF !important;
                        box-shadow: 0 0 0.5em rgba(0,255,255,0.5) !important;"
                        >
                            <i class="fa fa-spinner fa-pulse fa-3x" style=""></i>
                            <span>Scanning ...</span>
                    </span>
                    <span ng-if="ConnectedDevice_id!=''" 
                        style="
                            color:rgba(0, 255, 255, 0.5); 
                            position: absolute; 
                            top: -40px; 
                            text-align-center; 
                            width: 100%;
                            text-shadow: 0 0 15px;
                            ">
                        Connected to : {{BlueToothDevices[0].Name}}
                    </span>
                </div>

                <div ng-if="ConnectedDevice_id!=''">
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay0" name="relay0" ng-model="status[0]" ng-true-value="1" ng-false-value="0"><label for="relay0">Relay 1</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay1" name="relay1" ng-model="status[1]" ng-true-value="1" ng-false-value="0"><label for="relay1">Relay 2</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay2" name="relay2" ng-model="status[2]" ng-true-value="1" ng-false-value="0"><label for="relay2">Relay 3</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay3" name="relay3" ng-model="status[3]" ng-true-value="1" ng-false-value="0"><label for="relay3">Relay 4</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay4" name="relay4" ng-model="status[4]" ng-true-value="1" ng-false-value="0"><label for="relay4">Relay 5</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay5" name="relay5" ng-model="status[5]" ng-true-value="1" ng-false-value="0"><label for="relay5">Relay 6</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay6" name="relay6" ng-model="status[6]" ng-true-value="1" ng-false-value="0"><label for="relay6">Relay 7</label></input></div>
                    <div class="col-xs-6 col-sm-4 col-md-3"><input type="checkbox" class="btn btn-relay" id="relay7" name="relay7" ng-model="status[7]" ng-true-value="1" ng-false-value="0"><label for="relay7">Relay 8</label></input></div>
                </div>
    

            </div>
        </div>
    </div>
</div>

<!-- End Content -->
    
<script src="//localhost:4020/livereload.js"></script>


